*::after,
*::before,
*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{
  all: inherit;
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: $main-color-GrayishDarkBlue;

}

img{
  max-width: 100%;
}