$main-font-size: 16px; 
$main-font-family: 'Open Sans', sans-serif;

//  $grid-breakpoints

$xs: 0; // x-small
$sm: 576px; // small
$md: 768px; // medium
$lg: 992px; // large
$xl: 1200px; // extra large
$xxl: 1400px; // extra extra large

// primary colors

$main-color-cyan:  #5fb4a2;
$main-color-DarkBlue:   #203a4c;
$main-color-GrayishDarkBlue:  #33323d;
$main-color-VeryLightGrey: #fafafa;
$main-color-LightGrey:  #eaeaeb;
$main-color-BrightRed: #f43030;