header{
  width: 100%;
  height: 150px;
  background-color: #fff;
  padding: 64px 0 54px 0;

  .navbar{
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo{
      height: 32px;

      &__link{
        text-decoration: none;

        &-title{
          display: inline-block;
          color: #fff;
          font-size: 32px;
          opacity: 0;
          margin: 0;
        }
      }
    }

    &__navigation-bar{
      width: 306px;
      height: 14px;

      &__list{
        width: 100%;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;

        &__item{
          &--link{
            text-decoration: none;
            text-transform: uppercase;
            @include text-size(auto, 12px, 14px, $main-color-GrayishDarkBlue, 'Public Sans', 400);
          
            &:hover{
            color: $main-color-cyan;
            }
          }

          .navbar-link-active{
            color: $main-color-cyan;
          }


        }

        &__item-menu{
          display: none;
        }
      }
    }
  }
}
