.hero{
  height: 600px;
  .container{
    .hero__content{
      width: 100%;
      height: 600px;
      position: relative;
      background-image: url(../../images/hero-bg.jpg);
      background-repeat: no-repeat;
      background-size: 1110px 600px;

      &__card{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 445px;
        height: 357px;
        background-color: $main-color-VeryLightGrey;
        
        &-title{
          margin: 56px 55px 53px 0;
          @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
        }

        &-link{
          text-decoration: none;
          transition: all .5s ease;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -ms-transition: all .5s ease;
          -o-transition: all .5s ease;
          
          
          
          &-btn{
            width: 200px;
            height: 48px;
            cursor: pointer;
            position: relative;
            background-color: $main-color-DarkBlue;
            border: none;
            text-transform: uppercase;
            padding: 0;
            padding-left: 40px;
            letter-spacing: 2px;
            @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);

            span{
              position: absolute;
              left: 0;
              top: 0;
              width: 48px;
              height: 48px;
              display: inline-block;
              padding: 18px 16px;
              background: #1d3445;

              svg{
                path{
                  stroke: $main-color-cyan;
                }
              }
            }
          }

          &:hover .hero__content__card-link-btn{
            
            background-color: $main-color-cyan;
            span{
              background: #55a292;

              svg{
                path{
                  stroke: #fff;
                }
              }
            }
          }

          &:active .hero__content__card-link-btn{
            
            background-color:#d2d8db;
            span{
              background: #d2d6da;

              svg{
                path{
                  stroke: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ======= Responsive =======

@media #{$media-desktop}{
  .hero{
    height: 600px;
    .container{
      .hero__content{
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url(../../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: 1110px 600px;
  
        &__card{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 445px;
          height: 357px;
          background-color: $main-color-VeryLightGrey;
          
          &-title{
            margin: 56px 55px 53px 0;
            @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
          }
  
          &-link{
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            
            
            
            &-btn{
              width: 200px;
              height: 48px;
              cursor: pointer;
              position: relative;
              background-color: $main-color-DarkBlue;
              border: none;
              text-transform: uppercase;
              padding: 0;
              padding-left: 40px;
              letter-spacing: 2px;
              @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);
  
              span{
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                display: inline-block;
                padding: 18px 16px;
                background: #1d3445;
  
                svg{
                  path{
                    stroke: $main-color-cyan;
                  }
                }
              }
            }
  
            &:hover .hero__content__card-link-btn{
              
              background-color: $main-color-cyan;
              span{
                background: #55a292;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
  
            &:active .hero__content__card-link-btn{
              
              background-color:#d2d8db;
              span{
                background: #d2d6da;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}//desktop

@media #{$media-large-tablet}{
  .hero{
    height: 600px;
    .container{
      .hero__content{
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url(../../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: 1110px 600px;
  
        &__card{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 445px;
          height: 357px;
          background-color: $main-color-VeryLightGrey;
          
          &-title{
            margin: 56px 55px 53px 0;
            @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
          }
  
          &-link{
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            
            
            
            &-btn{
              width: 200px;
              height: 48px;
              cursor: pointer;
              position: relative;
              background-color: $main-color-DarkBlue;
              border: none;
              text-transform: uppercase;
              padding: 0;
              padding-left: 40px;
              letter-spacing: 2px;
              @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);
  
              span{
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                display: inline-block;
                padding: 18px 16px;
                background: #1d3445;
  
                svg{
                  path{
                    stroke: $main-color-cyan;
                  }
                }
              }
            }
  
            &:hover .hero__content__card-link-btn{
              
              background-color: $main-color-cyan;
              span{
                background: #55a292;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
  
            &:active .hero__content__card-link-btn{
              
              background-color:#d2d8db;
              span{
                background: #d2d6da;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}//large-tablet
@media #{$media-small-tablet}{
  .hero{
    height: 600px;
    .container{
      .hero__content{
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url(../../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: 1110px 600px;
  
        &__card{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 445px;
          height: 357px;
          background-color: $main-color-VeryLightGrey;
          
          &-title{
            margin: 56px 55px 53px 0;
            @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
          }
  
          &-link{
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            
            
            
            &-btn{
              width: 200px;
              height: 48px;
              cursor: pointer;
              position: relative;
              background-color: $main-color-DarkBlue;
              border: none;
              text-transform: uppercase;
              padding: 0;
              padding-left: 40px;
              letter-spacing: 2px;
              @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);
  
              span{
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                display: inline-block;
                padding: 18px 16px;
                background: #1d3445;
  
                svg{
                  path{
                    stroke: $main-color-cyan;
                  }
                }
              }
            }
  
            &:hover .hero__content__card-link-btn{
              
              background-color: $main-color-cyan;
              span{
                background: #55a292;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
  
            &:active .hero__content__card-link-btn{
              
              background-color:#d2d8db;
              span{
                background: #d2d6da;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}//small-tablet

@media #{$media-mobile}{
  .hero{
    height: 600px;
    .container{
      .hero__content{
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url(../../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: 1110px 600px;
  
        &__card{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 445px;
          height: 357px;
          background-color: $main-color-VeryLightGrey;
          
          &-title{
            margin: 56px 55px 53px 0;
            @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
          }
  
          &-link{
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            
            
            
            &-btn{
              width: 200px;
              height: 48px;
              cursor: pointer;
              position: relative;
              background-color: $main-color-DarkBlue;
              border: none;
              text-transform: uppercase;
              padding: 0;
              padding-left: 40px;
              letter-spacing: 2px;
              @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);
  
              span{
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                display: inline-block;
                padding: 18px 16px;
                background: #1d3445;
  
                svg{
                  path{
                    stroke: $main-color-cyan;
                  }
                }
              }
            }
  
            &:hover .hero__content__card-link-btn{
              
              background-color: $main-color-cyan;
              span{
                background: #55a292;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
  
            &:active .hero__content__card-link-btn{
              
              background-color:#d2d8db;
              span{
                background: #d2d6da;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}//mobile

@media #{$media-mobile-sm}{
  .hero{
    height: 600px;
    .container{
      .hero__content{
        width: 100%;
        height: 600px;
        position: relative;
        background-image: url(../../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: 311px 271px;
  
        &__card{
          position: absolute;
          left: 0;
          top: 311px;
          width: 445px;
          height: 357px;
          background-color: $main-color-VeryLightGrey;
          
          &-title{
            margin: 56px 55px 53px 0;
            @include text-size(390px, 50px, 50px, $main-color-GrayishDarkBlue, 'Ibarra Real Nova', 700);
          }
  
          &-link{
            text-decoration: none;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
            
            
            
            &-btn{
              width: 200px;
              height: 48px;
              cursor: pointer;
              position: relative;
              background-color: $main-color-DarkBlue;
              border: none;
              text-transform: uppercase;
              padding: 0;
              padding-left: 40px;
              letter-spacing: 2px;
              @include text-size(200px, 12px, 14px, #fff, 'Public Sans', 400);
  
              span{
                position: absolute;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                display: inline-block;
                padding: 18px 16px;
                background: #1d3445;
  
                svg{
                  path{
                    stroke: $main-color-cyan;
                  }
                }
              }
            }
  
            &:hover .hero__content__card-link-btn{
              
              background-color: $main-color-cyan;
              span{
                background: #55a292;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
  
            &:active .hero__content__card-link-btn{
              
              background-color:#d2d8db;
              span{
                background: #d2d6da;
  
                svg{
                  path{
                    stroke: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}//mobile-sm
